<div appScrollNearEnd (nearEnd)="loadCharacters()" class="d-flex card-deck flex-wrap gap-2">
    <div class="card col-2" *ngFor="let character of characters">
        <img class="card-img-top" src={{character.image}} alt={{character.name}}>
        <div class="card-body">
            <a [routerLink]="['/characters/' + character.id]" class="link-underline link-underline-opacity-0">
                <h5 class="card-title">{{character.name}}</h5>
            </a>
            <p class="card-text mb-1"><b>Status:</b> {{character.status}}</p>
            <p class="card-text mb-1"><b>Species:</b> {{character.species}}</p>
            <p class="card-text mb-1"><b>Gender:</b> {{character.gender}}</p>
            <p class="card-text mb-1"><b>Last known location:</b></p>
            <a [routerLink]="['/locations/' + character.location.url.split('/').pop()]">
                <p class="card-text mb-1">{{character.location.name}}</p>
            </a>
        </div>
    </div>
</div>