<app-dashboard [service]="locationService" (updateEntities)="this.locations = $event">
    <div class="card col-2" *ngFor="let location of locations">
        <div class="card-body">
            <a [routerLink]="['/locations/' + location.id]" class="link-underline link-underline-opacity-0">
                <h5 class="card-title">{{location.name}}</h5>
            </a>
            <p class="card-text mb-1"><b>Type:</b> {{location.type}}</p>
            <p class="card-text mb-1"><b>Dimension:</b> {{location.dimension || "-"}}</p>
        </div>
    </div>
</app-dashboard>
